/* .trainers-table,
.users-table,
.horses-table,
.client-data {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.trainers-table th,
.trainers-table td,
.users-table th,
.users-table td,
.horses-table th,
.horses-table td,
.client-table th,
.client-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.trainers-table th, 
.users-table th, 
.horses-table th, 
.client-table th {
    background-color: #f2f2f2;
}

.trainers-table img,
.users-table img,
.horses-table img,
.client-table img {
    max-width: 100px;
    height: auto;
}
 */
